/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
    gap: 30px;
  }

  .facts-container {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .sponsor-companies {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}



/* mobile size device */
@media screen and (max-width: 576px) {
  .navbar, .nav-links, .teams {
    flex-direction: column;
  }
  .nav-links {
    gap: 20px;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .fact-description {
    width: 100%;
  }

  .facts-container {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }

  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    justify-items: center;
  }
}

